#root {
    background-color: mistyrose;
}
.main {
    text-align : center;
}
.nav-bar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 20px;
    background-color: #1d1d1d;
    color: #fff;
}
.mesic-Logo {
    width : 350px;
    height: 150px;
    margin-top: 30px;
}
.search-text {
    width: 400px;
    height: 50px;
    font-size: 25px;
    text-align: left;
    font-family: 'Jua', sans-serif;
    margin-right: 20px;
}
.search-Button {
    width: 100px;
    height: 56px;
    font-size: 25px;
    font-family: 'Jua', sans-serif;
}
input::-webkit-input-placeholder {
    color: red;
    font-style: italic;
}
.main-Videos{

}
.recommended-Message {
    font-size: 60px;
    font-family: 'Jua', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: crimson;
}
.videos {
    width: 400px;
    height: 250px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.video-field {
    display: inline-flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-around;
}
.videoTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    color: crimson;
    margin-bottom: 30px;
    white-space: pre-line;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.go-List-Button {
    width: 40%;
    font-family: 'Jua', sans-serif;
    font-size: 35px;
    border-radius: 30px;
}
.signout-Button {
    width: 40%;
    font-size: 35px;
    margin-left: 100px;
    font-family: 'Jua', sans-serif;
    border-radius: 30px;
}
.footer {
    height: 80px;
    font-size: 25px;
    padding: 20px;
    background-color: #1d1d1d;
    color: #fff;
}


/*


.temp {
    min-width : 500px;
}
.videos {
    width: 400px;
    height: 250px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.videoTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    color: crimson;
    margin-bottom: 30px;
    white-space: pre-line;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.video-field {
    display: inline-flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-around;
}
*/