.nav-bar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 20px;
  background-color: #1d1d1d;
  color: #fff;
}

.left-content {
  width: 30vw;
}

.left-content i {
  margin-right: 10px;
}

.link{
  text-decoration: none;
  color: #fff;
}

.center-content {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.right-content {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
}



.dropdown { position: relative; display: inline-block; }

.dropdown-content {

    display: none;

    position: absolute;

    background-color: #FFDAB9;

    min-width: 70px;

    padding: 8px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a { color: black; padding: 8px; text-decoration: none; display: block; }

.dropdown-content a:hover { background-color: black; }

.dropdown:hover .dropdown-content { display: block; }


