.SignUp-header {
    text-align : center;
}
input::placeholder {
    color: black;
    opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
    font-style : inherit;
}
.Mesic-logo {
    margin-top: 100px;
    text-align: center; 
}
#legend {
    font-size: 30px;
    text-align: center;
}
.label-field {
    display: inline-block;
    position: relative;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150px;
}
.input-field {
    font-size: 15px;
    border-radius: 30px;
}
.submit {
    width: 300px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    /* background: linear-gradient(to right, #f8f1f1, #9c06e2); */
    background-color: lightblue;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-weight: bolder;
    font-size : 20px;
    margin-top : 40px;
}